.hidden {
  display: none;
}

.rich {
  font-size: larger;
}

body {
  background-color: rgb(235, 232, 229);
}

.jumbotron{
  margin-top: 20px;
  background-color: rgb(120, 125, 114);
  background-size: cover;
  text-align: center;
  color: aliceblue;
}