.hidden {
  display: none;
}

.rich {
  font-size: larger;
}

body {
  background-color: rgb(235, 232, 229);
}

.jumbotron{
  margin-top: 20px;
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/85/75/68/1000_F_285756894_QYWanPZVBRuMbsJWuY2sfb9FblmDtTM9.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  
}

.langResults {
  text-align: center;
}

.bold {
  font-weight: bold;
}